logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.direnv
__pycache__
*.db
ChartDB*
.venv
.ruff_cache
*cache*

/doc/main*
!**/main.tex